<div class="mt-5" id="course-details-div">
    <h1>{{course.name}}</h1>
    <p>{{course.type}}</p>
    <a class="btn btn-dark mb-2" href="/courses/{{course.id}}/edit">Edit Course</a>
    <a class="btn btn-dark" href="/courses">Go Back</a>
</div>