<div id="home-div">
    <h1>Ironhack Courses</h1>
    <p>Check all information about Ironhack Courses clicking on the button below<p>
    <a class="btn btn-dark" href="/courses">See Courses</a>
</div>
